.navbar {
  background-color: var(--clr-element);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(box-shadow);
  padding-block: 0.2rem;
}

.theme__switcher:hover {
  cursor: pointer;
  color: var(--clr-input);
  transition: var(--transition-time);
}

.theme__switcher svg {
  vertical-align: middle;
}

@media (max-width: 600px) {
  .navbar h1 {
    font-size: 1.1em;
    margin-block: 2rem;
  }

  .navbar strong {
    font-size: small;
  }
}
