@import "../../styles/variables";

.navbar {
  background-color: $clr-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;
  padding-block: 0.2rem;
}

.theme__switcher:hover {
  cursor: pointer;
  color: $clr-dark-gray;
  transition: $transition-time;
}

@media (max-width: 600px) {
  .navbar h1 {
    font-size: 1.1em;
    margin-block: 2rem;
  }

  .navbar strong {
    font-size: small;
  }
}
