@import "../../styles/variables";

.navbar {
  background-color: $clr-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;
  padding-block: 0.2rem;
}

.theme__switcher:hover {
  cursor: pointer;
  color: $clr-dark-gray;
  transition: $transition-time;
}
