$search-height: 3.5rem;

.filter__form {
  margin-block-end: 3rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.filter__icon {
  position: absolute;
  color:var(--clr-text);
  filter: opacity(0.5);
  width: 1.25rem;
  height: $search-height;
  left: 2rem;
}

.filter__search {
  width: 30rem;
  max-width: 100%;
  height: $search-height;
  padding-inline: 4.5rem 1rem;
  font-size: var(--font-size);
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  &::after {
    content: icon;
  }

  &::placeholder {
    color: var(--clr-text);
  }

  &:focus,
  &:hover {
    outline: none;
    box-shadow: var(--box-shadow-hovered);
  }
}

@media (max-width: 1000px) {
  .filter__form {
    flex-direction: column;
  }

  .filter__search {
    width: 100%;
    margin-block-end: 3rem;
  }
}
