@import "../../styles/variables";

$search-clr: lighten($clr-dark-gray, 5%);
$search-height: 3.5rem;

.filter__form {
  margin-block-end: 3rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.filter__icon {
  position: absolute;
  color: $search-clr;
  width: 1.25rem;
  height: $search-height;
  left: 2rem;
}

.filter__search {
  width: 30rem;
  max-width: 100%;
  height: $search-height;
  padding-inline: 4.5rem 1rem;
  font-size: $font-size;
  border: 0;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &::after {
    content: icon;
  }

  &::placeholder {
    color: $search-clr;
  }

  &:focus,
  &:hover {
    outline: none;
    box-shadow: $box-shadow-hovered;
  }
}

@media (max-width: 1000px) {
  .filter__form {
    flex-direction: column;
  }

  .filter__search {
    width: 100%;
    margin-block-end: 3rem;
  }

}
