.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.75rem;
}

.loader_background {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 3rem;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(var(--clr-text) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  animation: b7 1s infinite linear alternate;

  @keyframes b7 {
    0% {
      background-size: 20% 50%, 20% 50%, 20% 50%;
    }
    20% {
      background-size: 20% 20%, 20% 50%, 20% 50%;
    }
    40% {
      background-size: 20% 100%, 20% 20%, 20% 50%;
    }
    60% {
      background-size: 20% 50%, 20% 100%, 20% 20%;
    }
    80% {
      background-size: 20% 50%, 20% 50%, 20% 100%;
    }
    100% {
      background-size: 20% 50%, 20% 50%, 20% 50%;
    }
  }
}

.country {
  overflow: hidden;

  &:hover {
    cursor: pointer;
    transform: translatey(-10px);
    transition: var(--transition-time);
  }

  &__flag {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 5/3;
  }

  &__title,
  &__details {
    padding: 0 1.5rem;
  }

  &__title {
    margin-block-start: 1.25rem;
    font-size: 1.125rem;
  }

  &__details {
    margin-block-end: 2.5rem;
    line-height: 1.7;
    font-size: var(--font-size);
    span {
      font-weight: 600;
    }
  }
}

@media (min-width: 2000px) {
  .countries {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .countries {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    margin-inline: 3rem;
  }
}
