@import "../../styles/variables";

.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.75rem;
}

.country {
  overflow: hidden;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: $transition-time;
  }

  &__flag {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 5/3;
  }

  &__title,
  &__details {
    padding: 0 1.5rem;
  }

  &__title {
    margin-block-start: 1.25rem;
    font-size: 1.125rem;
  }

  &__details {
    margin-block-end: 2.5rem;
    line-height: 1.7;
    font-size: $font-size;
    span {
      font-weight: 600;
    }
  }
}
