// colors
$clr-dark-blue: hsl(209, 23%, 22%); // (Dark Mode Elements)
$clr-dark-gray: hsl(0, 0%, 52%); // (Light Mode Input)
$clr-very-dark-blue: hsl(207, 26%, 17%); // (Dark Mode Background)
$clr-very-dark-blue: hsl(200, 15%, 8%); // (Light Mode Text)
$clr-very-light-gray: hsl(0, 0%, 98%); // (Light Mode Background)
$clr-white: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)


$font-size: 14px;

$border-radius: 5px;

$box-shadow: 0 0 0.5em 0.1em #00000010;
$box-shadow-hovered: 0 0 1em 0.1em #00000020;

$transition-time: 300ms;